html, body {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}
body {
	background-color: #EE3E80;
	color: white;
	font-family: Arial, Verdana, sans-serif;
}
#titleCard {
	text-align: center;
	min-width: 100%;
	font-size: 900%;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
}
h2, .bandTag {
	margin: 0 -9999rem;
	padding: 2.5rem 9999rem;
	font-size: 4rem;
	text-align: center;
	background: #008B8B;
	text-align: middle;
}
