@font-face {
	font-family: 'QuicksandBook';
	src: url('fonts/Quicksand_Book-webfont.eot');
	src: url('fonts/Quicksand_Book-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/Quicksand_Book-webfont.woff') format('woff'),
		url('fonts/Quicksand_Book-webfont.ttf') format('truetype'),
		url('fonts/Quicksand_Book-webfont.svg#QuicksandBook') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	margin: 0;
	padding: 0;
	background-color: #FFFFFF;
	overflow-x: hidden;
}

.container {
	height: 20%;
}


.banner {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #FFFFFF;
	z-index: 999;
}

#canvas {
	position: relative;
	background-color: #000;
	display: block;
	height: 50%;
	z-index: 990;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 0.25vh solid #ccc;
    margin: 0.8em 0;
    padding: 0;
}

.nav {
	font-family: QuicksandBook, Helvetica, Arial, sans-serif;
	text-align: center;
	padding-bottom: 1.5vh;
}

.about {
    text-align:center;
    padding-top: 0;
    padding-bottom: 0;

    padding-left: 25vw;
    padding-right: 25vw;
}
.inlineblock { 
    display: inline-block;
    zoom: 1;
    display*: inline; /* ie hack */
    
    border: 3px solid #ccc;
	padding: 20px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

img {
	margin: 10pt;
	height: 35vh;
	width: 35vh;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

p {
	max-width: 35em;
	padding-top: 2vh;
	font-size: 2vh;
	text-align: left;
	font-family: Helvetica;
	margin: 0;
}