html, body {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}
body {
	background-color: #EE3E80;
	color: white;
	font-family: Arial, Verdana, sans-serif;
}
#titleCard {
	text-align: center;
	min-width: 100%;
	font-size: 900%;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
}
h2, .bandTag {
	margin: 0 -9999rem;
	padding: 2.5rem 9999rem;
	font-size: 4rem;
	text-align: center;
	background: #FFFFFF;
	text-align: middle;
	color: #2C2F8C;
}

#animation {
	width: 12rem;
	height: 12rem;
	margin: 0 auto;
	background-color: #EE3E80;
	animation: square-to-circle 2s .5s infinite cubic-bezier(1,.015,.295,1.225) alternate;
}

@keyframes square-to-circle {
	0%  {
		border-radius:0 0 0 0;
		background: #EE3E80;
		transform:rotate(0deg);
	}
	25%  {
		border-radius:50% 0 0 0;
		background:	#008B8B;
		transform:rotate(45deg);
	}
	50%  {
		border-radius:50% 50% 0 0;
		background: #FE5292;
		transform:rotate(0deg);
	}
	75%  { 
		border-radius:50% 50% 50% 0;
		background: #00EBEB;
		transform:rotate(45deg);
	}
	100% {  
		border-radius:50%;
		background: #FF83B1;
		transform:rotate(0deg);
	}
}
